.bannerContainer {
  position: relative;
  padding: 2rem;
}
.title {
  font-size: 5rem;
  overflow-wrap: break-word;
}
.title1 {
  color: var(--white);
}
.title2 {
  color: var(--blue);
  padding-left: 0.5rem;
}
.subtitle {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  color: var(--white);
}

@media only screen and (max-width: 426px) {
  .bannerContainer {
    padding: 0rem;
  }
  .title1 {
    /* width: 100%; */
    display: block;
  }
  .title2 {
    padding-left: 0;
  }
}
